<header class="columns  is-centered">
  <nav class="columns column is-9">
    <div class="column is-4 left"><i class="far fa-map"></i>|<h1 class="logo">travelgram</h1></div>
    <div class="column is-4 center">Search</div>
    <div class="column is-4 right"><i class="far fa-compass"></i><i class="far fa-heart"></i><i class="far fa-user"></i></div>
  </nav>
</header>
