<header class="columns  is-centered">
  <nav class="columns column is-9">
    <span class="column is-4 left"><i class="far fa-map"></i>|<p class="logo">travelgram</p></span>
    <span class="column is-4 center">Search</span>
    <span class="column is-4 right"><i class="far fa-compass"></i><i class="far fa-heart"></i><div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span><i class="far fa-user"></i></span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <a href="/login"><p>Login</p></a>
        <a href="/register"><p>Register</p></a>
        <a href="#"><p>Your Account</p></a>
      </div>
    </div>
  </div>
</div></span>
  </nav>
</header>
