<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Travelgram</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>

  <% include ./partials/header %>

  <div class="body columns is-multiline is-centered">

        <%- body %>

  </div>

  <% include ./partials/footer %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIx3ZddZj5uAI1B6svkwHjhYr0q_Dx0_E&libraries=places"></script>
  <script src="/js/app.js"></script>
</body>
</html>
