@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

* {
  color: #262626;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.map-container {
  display: flex;
  margin-top: 100px;
  font-size: 20px;
}

.map-left{
  width: 20vw;
  height: 40vh;
  transform: skew(-20deg) rotate(-20deg);
  background: #ff6c5f;
  margin-right: 5%;
}

.map-center{
  width: 20vw;
  height: 40vh;
  transform: skew(20deg) rotate(20deg);
  background: #ffc168;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-right{
  width: 20vw;
  height: 40vh;
  transform: skew(-20deg) rotate(-20deg);
  background: #2dde98;
}

.fix {
  /* transform: skew(20deg) rotate(20deg); */
  margin-top: 20%;
  margin-left: 12%;
  letter-spacing: -2px;
  width: 80%;
  color: white;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
}

.fix a {
  text-decoration: underline;
  color: rgb(73, 80, 78);
}

.fa-globe-americas {
  color: white;
  font-size: 200px;
}

.fa-globe-americas:hover {
  animation: spin 1s infinite;
  animation-timing-function: ease-out;
}

.fa-compass:hover {
  animation: spin 0.5s 1;
  animation-timing-function: ease-in-out;
}

a {
  color: inherit;
}

header {
  height: 77px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.fa-compass {
  color
}



nav {
  align-items: center;
  font-size: 25px;
}

body {
  background-color: #fafafa;
}

.body {
  height: -webkit-fill-available;
}

.top {
  margin-top: 45px !important;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.left {
  display: flex;
  align-items: center;
  color: black;
}

.right {
  align-items: center;
  text-align: right;
}

.right i {
  margin-left: 25px;
}

.center {
  text-align: center;
}

.popinfo {
  background-color: grey !important;

}

.display {
  background-color: white;
  border: 1px solid rgba(0,0,0,.1);
  padding: 0 !important;
  height: fit-content !important;
}

.showimage {
  padding: 0 !important;
  height: auto;
  max-height: 70vh;
  margin: auto;
}

.post-details {
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
}

.topdetails {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 14px;
  padding-bottom: 10px;
}

.user-details {
  padding-left: 10px;
  width:-webkit-fill-available;
}

.user-details a {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.user-details h2 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.pic-container {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-delete {
  display: flex;
  justify-content: space-between;
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}

.comment {
  font-size: 14px;
  word-break: break-word;
}

.comment-top ul {
  overflow-y: scroll;
  height: 30vh;
}

.comment-bottom h4 {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 0 0 10px 0;
}

#comment-box {
  width: -webkit-fill-available;
  border: none;
  margin-top: 10px;
}

#comment-box::placeholder {
  font-size: 14px;
}

#comment-box:focus {
  outline: none;
}

input::placeholder {
  color: #999;
}

.delete-button {
  border: 0;
  font-size: 14px;
  cursor: pointer;
  color: #999;
}

.delete-button:hover {
  color: #262626;
}

#edit-button {
  color: #999;
}

#edit-button:hover {
  color: #262626;
}

.username {
  color: #262626;
  font-weight: 600;
  font-size: 14px;
}

.date {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
}

.image {
  background-color: black;
}
.photo:hover {
  opacity: 0.6;
}

.pac-container:after{
  content:none !important;
}

.profileImg {
  height: 152px;
  width: 152px;
  border-radius: 50%;
}
