@import url('https://fonts.googleapis.com/css?family=Pacifico');


header {
  height: 77px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
}

nav {
  align-items: center;
  font-size: 25px;
}

body {
  background-color: #fafafa;
}

.body {
  height: -webkit-fill-available;
}

.top {
  margin-top: 45px !important;
}

.logo {
  font-family: 'Pacifico', cursive;
}

.left {
  display: flex;
  align-items: center;
  color: black;
}

.right {
  align-items: center;
  text-align: right;
}

.right i {
  margin-left: 25px;
}

.center {
  text-align: center;
}

.popinfo {
  background-color: grey !important;

}

.display {
  background-color: white;
  border: 1px solid rgba(0,0,0,.1);
  padding: 0 !important;
  height: fit-content;
}

.showimage {
  padding: 0 !important;
}

.post-details {
display: flex;
flex-direction: column;
}

.topdetails {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.pic-container {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  background-color: black;
}
.photo:hover {
  opacity: 0.6;
}

.pac-container:after{
    content:none !important;
}

.profileImg {
  height: 152px;
  width: 152px;
  border-radius: 50%;
}
