@import url('https://fonts.googleapis.com/css?family=Pacifico');

header {
  height: 77px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.1);
  align-items: center;
}

nav {
  align-items: center;
  font-size: 25px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  align-items: center;
  text-align: right;
}

.center {
  text-align: center;
}
