<p class="content"><%= posts.length %> posts added so far!</p>
<div class="columns is-multiline is-mobile">
  <% posts.forEach(post => { %>
    <div class="column is-3-desktop is-4-tablet is-6-mobile">
      <div class="card">
          <img src="<%= post.img %>"
      </div>
    </div>
  <% }) %>
</div>
