
<div class="columns column is-8 is-centered is-multiline is-mobile">
  <% posts.forEach(post => { %>
    <div class="column is-4-desktop is-4-tablet is-6-mobile">
      <figure class="image is-square">
        <a href = "/posts/<%= post.id %>">
          <img src="<%= post.img %>"
        </a>
      </figure>
    </div>
    <% }) %>
  </div>
