<form class="column is-4 is-centered" action="/posts" method="post">
  <h1>Upload a Photo</h1>
  <input type="hidden" name="username" value="<%= locals.currentUser.username %>">
  <div class="field">
    <label class="label">Image URL</label>
    <div class="control has-icons-left">
      <input class ="input" type="text" name="img" placeholder="Enter URL">
      <span class="icon is-small is-left">
        <i class="fas fa-camera"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control has-icons-left">
      <textarea class ="input" type="text" name="description" placeholder="Description" rows="10"></textarea>
      <span class="icon is-small is-left">
        <i class="fas fa-pen"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Location</label>
    <div class="control has-icons-left">
      <input class="input" id="places-autocomplete" type="text" name="location" placeholder="Location">
      <span class="icon is-small is-left">
        <i class="fas fa-map-marker-alt"></i>
      </span>
    </div>
  </div>
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</form>

<script>
  function initAutocomplete() {
    var input = document.getElementById('places-autocomplete');
    var searchBox = new google.maps.places.SearchBox(input);

    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if(places.length == 0){
        return;
      }
      places.forEach(function(place){
        if(!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
      });
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIx3ZddZj5uAI1B6svkwHjhYr0q_Dx0_E&libraries=places&callback=initAutocomplete" async defer></script>
